@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
<h3>Add a new machine</h3>
<hr />

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br />
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <br />
  <label for="status">status</label>
  <select name="status" id="status">
    <option value="Operational">Operational</option>
    <option value="Malfunctioning">Malfunctioning</option>
    <option value="In-Repair">In for repairs</option>
  </select>
  <br />
  <input type="submit" value="add to system" />
}

@* //install date auto date/time on creation
//inpsection date in update, not create *@