@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer

<h2>Add a machine to "@Html.DisplayFor(model => model.Name)"</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select machine(s)")
  @foreach (var machine in ViewBag.Machines as List<Factory.Models.Machine>)
    {
      <div>
        <input type="checkbox" id="@("MachineId_" + machine.MachineId)" name="MachineIds" value="@machine.MachineId" />
        <label for="@("MachineId_" + machine.MachineId)">@machine.Name</label>
      </div>
    }
  <input type="submit" value="Save" />
}