@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Level): @Html.DisplayFor(model => model.Level)</h3>
<h3>@Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Phone)</h3>

<h3>@Html.DisplayNameFor(model => model.HireDate): @Html.DisplayFor(model => model.HireDate)</h3>
@if (Model.IsActive)
{
  <h3>Status: Working</h3>
}
else
{
  <h3>Status: Idle</h3>
}
@using (Html.BeginForm("ChangeStatus", "Engineers", new { id = Model.EngineerId }))
{
  <label>Change status</label>
  <input type="submit" value="working/idle"/>
}

<h3>@Html.DisplayNameFor(model => model.Renewal): @Html.DisplayFor(model => model.Renewal)</h3>
<hr />
<p>@Html.ActionLink("Add an engineer", "Create")</p>
<p>@Html.ActionLink("Update details", "Edit")</p>
<p>@Html.ActionLink("Delete engineer", "Delete")</p>

<p>Attach machine to this engineer</p>
